<!-- // 📂 src/pages/index.astro -->
---
const profilePicture = "https://i.imgur.com/JPGFE75.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- 👀 Look here  -->
    <img
      src={profilePicture}
      alt="Frau Katerina's headshot."
      width="100px"
      height="100px"
    />
		<p>Frau Katerina's headshot.</p>
		<script>
			declare global {
				interface Window{
					netlifyIdentity: any;
				}
			}
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user: any) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
  </body>
</html>
